<section>
    <h2>{table.name}</h2>
    <table>
        <thead>
            <tr>
                {#for column in table.columns}
                    <th scope="col">{column.name}</th>
                {/for}
            </tr>
        </thead>
        <tbody>
            {#for row in table.rows}
            <tr>
                {#for cell in row}
                    <td>{#if cell}{cell.toString}{/if}</td>
                {/for}
            </tr>
            {/for}
        </tbody>
    </table>
</section>